
.wpcf7-pdf-form-integration-card
{
	table-layout: fixed;
}

.wpcf7-pdf-form-integration-card .code
{
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.wpcf7-pdf-forms-admin table,
.wpcf7-pdf-forms-admin input[type=file]
{
	width: 100%;
	max-width: 100%;
}

.wpcf7-pdf-forms-admin .form-table td
{
	padding: 4px;
}

.wpcf7-pdf-forms-admin .tags-textarea
{
	min-height: 180px;
	width: 100% !important;
	max-width: none !important;
	margin-top: 5px;
}

.wpcf7-pdf-forms-admin .submitbox
{
	margin: 10px 0;
}

.wpcf7-pdf-forms-spinner-overlay
{
	background: rgba(0,0,0,.3);
	position: fixed;
	z-index: 999999;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.wpcf7-pdf-forms-spinner-box
{
	position: absolute;
	top: 50%;
	width: 100%;
}

.wpcf7-pdf-forms-spinner
{
	position: relative;
	margin: 0 auto;
	margin-top: -10px;
	width: 10px;
	height: 10px;
	border: 5px solid #fff;
	border-top: 5px solid #0085ba;
	border-radius: 50%;
	animation: wpcf7-pdf-forms-spin 2s linear infinite;
}

@keyframes wpcf7-pdf-forms-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.wpcf7-pdf-forms-admin .pdf-options-hidden,
.wpcf7-pdf-forms-admin .pdf-attachment-row-template,
.wpcf7-pdf-forms-admin .pdf-mapping-row-template,
.wpcf7-pdf-forms-admin .pdf-mapping-row-mailtag-template,
.wpcf7-pdf-forms-admin .pdf-mapping-row-valuemapping-template,
.wpcf7-pdf-forms-admin .image-embeds-row-template,
.wpcf7-pdf-forms-admin .image-embeds-row-mailtag-template
{
	display: none;
}

.wpcf7-pdf-forms-admin .convert-to-mailtags-button
{
	text-decoration: none;
}

.wpcf7-pdf-forms-admin .filename-column
{
	width: 100%;
}

.wpcf7-pdf-forms-admin .pdf-attachments
{
	border-top: 1px dotted #ccc;
}

.wpcf7-pdf-forms-admin .pdf-attachment-row
{
	border-bottom: 1px dotted #ccc;
}

.wpcf7-pdf-forms-admin .pdf-attachment-row .pdf-filename
{
	word-break: break-all;
}

.wpcf7-pdf-forms-admin div.pdf-options
{
	padding: 10px;
}

.wpcf7-pdf-forms-admin div.pdf-options div
{
	padding-bottom: 10px;
}

.wpcf7-pdf-forms-admin .pdf-buttons
{
	vertical-align: top;
	white-space: nowrap;
}

.wpcf7-pdf-forms-admin .mapping-table
{
	width: 100%;
}

.wpcf7-pdf-forms-admin .mapping-table th,
.wpcf7-pdf-forms-admin .mapping-table td
{
	vertical-align: top;
	text-align: center;
	width: auto;
	word-break: break-all;
}

.wpcf7-pdf-forms-admin .mapping-table td.buttons
{
	text-align: left;
	white-space: nowrap;
}

.wpcf7-pdf-forms-admin .mapping-table td,
.wpcf7-pdf-forms-admin .mapping-table th
{
	vertical-align: middle;
}

.wpcf7-pdf-forms-admin .generate-and-insert-all-tags-message
{
	word-break: normal !important;
	text-align: left !important;
}

.wpcf7-pdf-forms-admin .pdf-fields-mapper td.cf7-field,
.wpcf7-pdf-forms-admin .pdf-fields-mapper th.cf7-field,
.wpcf7-pdf-forms-admin .pdf-fields-mapper td.pdf-field,
.wpcf7-pdf-forms-admin .pdf-fields-mapper th.pdf-field
{
	width: 40%;
	vertical-align: middle;
}

.wpcf7-pdf-forms-admin .pdf-valuemapping-row td.cf7-field
{
	padding-left: 20px;
}

.wpcf7-pdf-forms-admin .pdf-valuemapping-row td.pdf-field
{
	padding-right: 20px;
}

.wpcf7-pdf-forms-admin .pdf-valuemapping-row td
{
	background-color: rgba(100, 100, 100, 0.2);
}

.wpcf7-pdf-forms-admin .mapping-table input,
.wpcf7-pdf-forms-admin .mapping-table textarea,
.wpcf7-pdf-forms-admin .mapping-table select
{
	width: 100%;
	min-width: 50px;
}

.wpcf7-pdf-forms-admin select
{
	width: 100%;
	min-width: 50px;
	text-overflow: ellipsis;
}

.wpcf7-pdf-forms-admin td
{
	position: relative;
}

.wpcf7-pdf-forms-admin .select2
{
	width: calc(100% - 10px);
	max-width: calc(100% - 10px);
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wpcf7-pdf-forms-admin .select2-results__option
{
	margin-bottom: 0;
}

.wpcf7-pdf-forms-admin .footer
{
	padding-bottom: 15px;
}

.wpcf7-pdf-forms-admin .helpbox
{
	margin-top: 15px;
}

.wpcf7-pdf-forms-admin .help-button
{
	float: right;
	padding-right: 10px;
}

.wpcf7-pdf-forms-admin .tag-generator-body-element
{
	display: none;
}

.wpcf7-pdf-forms-admin .tag-hint
{
	background-color: transparent;
	box-shadow: none;
}

.wpcf7-pdf-forms-admin-insert-box .tag-hint
{
	width: 450px;
	background-color: transparent;
	box-shadow: none;
}

.wpcf7-pdf-forms-admin .marked-row-background
{
	background-color: rgba(100, 100, 100, 0.2);
}

.wpcf7-pdf-forms-admin .image-embeds td.cf7-field,
.wpcf7-pdf-forms-admin .image-embeds th.cf7-field,
.wpcf7-pdf-forms-admin .image-embeds td.pdf-file,
.wpcf7-pdf-forms-admin .image-embeds th.pdf-file
{
	width: 30%;
}

.wpcf7-pdf-forms-admin .image-embeds td,
.wpcf7-pdf-forms-admin .image-embeds th
{
	vertical-align: middle;
}

.wpcf7-pdf-forms-admin .jcrop-container
{
	margin: 0 auto;
	width: 500px;
	overflow: hidden;
}

.wpcf7-pdf-forms-admin .jcrop-page
{
	width: 500px;
}

.wpcf7-pdf-forms-admin input.coordinate
{
	width: 50px !important;
}

.wpcf7-pdf-forms-admin .page-coordinates span
{
	margin: 0 5px;
}

.wpcf7-pdf-forms-admin .image-region-selection-hint
{
	font-style: italic;
}

.wpcf7-pdf-forms-admin .tag-generator-tool .pdf-files-list
{
	width: 20%;
}

.wpcf7-pdf-forms-tag-generator-panel fieldset > *
{
	margin-bottom: 20px;
}

.wpcf7-pdf-forms-admin .insert-box
{
	display: none;
}

.wpcf7-pdf-forms-admin .tag-generator-body-element
{
	position: relative;
}

.wpcf7-pdf-forms-admin .tag-generator-body-element .select2
{
	position: relative;
	top: 0;
	left: 0;
	transform: none;
	width: auto !important;
}

.wpcf7-pdf-forms-admin .tag-generator-body-element .insert-tags-button
{
	float: right;
	margin-right: 10px;
}

.wpcf7-pdf-forms-admin .image-embeds td.pdf-page
{
	width: 10%;
}

.field-mapping-generator-table
{
	height: 50px;
}

.field-mapping-generator-table th
{
	vertical-align: middle;
}

.field-mapping-generator-bnts
{
	text-align: right;
}
