
.wpcf7-pdf-forms-response-output
{
	border-color: #46b450;
	margin: 2em 0.5em 1em;
	padding: 1em 1em;
	border: 2px solid #00a0d2;
}

.wpcf7-pdf-forms-response-output .file-size
{
	font-style: italic;
}

.wpcf7 form.init .wpcf7-pdf-forms-response-output
{
	display: none;
}
